

/* root color so that we can reuse it  */

:root{
    --main-bg:rgb(199 199 199);;
    --main-color:rgb(255, 21, 0);
    --main-cement:rgb(165, 163, 163);

 }


 body {
	background-color: #fff;
	/* font-family: "poppins", sans-serif; */
	overflow: visible;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
}

 /* to make page responsive and 1 rem equal to 10 px  */

 .nav_head{
    font-size:62.5%;
 }
.row{
   margin: 0;
}



    /* style of navbar  */

    .nav_head{
      background-color: #02003ddb;
        /* fixing navbar to top when it reaches o px from top  */
        position: sticky;
        top: -1px;
        z-index: 700;
        
      }
      /* background fo nav  */
      .navbar{
         color: rgb(255, 255, 255);
         text-shadow: 0px 2px 5px black;
         
      }
      
      /* anchor tags of nav  */
  
      .navbar a{
        color: white;
        font-size: 1.4rem;
        font-family: 'Play', sans-serif;
      }
      .navbar a:hover{
     color: var(--main-color) !important;
     text-shadow: 1px 1px 1px black;
     font-weight: 600;
     }
     /* targeting active navbar item  */
  
     .navbar a.active {
        color: var(--main-color)!important;
        text-shadow: 2px 0px 1px black;
    }
  
  
     .nav-item{
        /* box-shadow: inset 0.1em 0.1em 0.7em #282727; */
     }
      .nav-brick{
        width: 2.5em;
        height: 2.5em;
        background-image: url('../images/attendtoggler.svg');
      }
  
      /* giving spaces between li of nav element 
       */
      .navbar li {
        margin-left:2rem;
       }
  
       /* style of logo  */
       /* styling og logo  */
.botcircle {
  height: 101px;
  width: 101px;
  position: absolute;
  background: #f2f5f2eb;
  border-radius: 50%;
  top: 12%;
}

.logoimg {
  width: 71px;
    margin-right: 5px;
    position: relative;
    top: 10%;
    left: 3.5%;
}

.botcircle:hover {
  background-color: #eeefeeeb;
  /* filter: drop-shadow(7px 4px 5px rgb(243, 152, 68));   */
}
/* media query for logo  */

@media (max-width:426px){
  .botcircle{
    height: 69px;
    width: 69px;
    position: absolute;
    background: #f2f5f2eb;
    border-radius: 50%;
    top: 39%;
}
  .logoimg{
    width: 50px;
    margin-right: 5px;
    position: relative;
    top: 10%;
    left: 6.5%;
  }
}




.formicon{
  filter: drop-shadow(2px 4px 2px rgb(0 0 0));

}
/* .logoimg{
    width: 41px;
    margin-right: 5px;
 }
 .logoimg:hover{
    width: 80px;
    filter: drop-shadow(7px 4px 5px var(--main-color));  
 } */


 /* styling for the form part 
 
 */

 .formheading{
  font-family: 'Braah One', sans-serif;
  font-weight: 400;
  color: white;
 }
 .gendiv{
  color: white;
 }

 
 .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

 

.form-signin {
 
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.top{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.middle{
  margin-bottom: -1px;
  border-radius: 0;
}
.bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* positioning of the formsec  */

.formsec{

    position: relative;
    margin-top: 5vh;
}


/* styling of genderdiv  */

.gendiv{
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    margin-left: 7px;
    justify-content: space-evenly;
  }
  
  label {
    margin-right: 12px;
    line-height: 32px;
  }
  
  input {
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
  
    position: relative;
    top: 4px;
    text-align: center !important;
  }
  
  input:checked {
    border: 6px solid #1038ff;;
  }

  ::-webkit-input-placeholder {
    text-align: center !important;
  }
  
  :-moz-placeholder {
    text-align: center !important;
  }
  
  
  legend{
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 0;
    border: 0;
    font-size: 14px;
  }


  .form-signin{
max-width: 350px !important;

  }

  .form-floating>label {

    left:36%
  }
.doblbl{
    left:25% !important 
}





/* success page  */
  
/* person icon  */


.material-symbols-rounded {

    top: 5px;
    position: relative;
  font-variation-settings:
  'FILL' 5,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
  
}

/* tick icon */
.tickicn{
    color: rgb(3, 214, 3);
    /* width: 9px; */
    top: -25px;
    font-size: 61px !important;
}

/* qr icon */
#qrcode{
  display: flex;
    justify-content: center;
    align-items: center;
}

/* login icon  */
.info{
  margin-bottom: -1%;
  padding: 0;
  font-size: 75%;
  font-family: 'raleway';
    line-height: 34px;
    font-weight: 400;
}
.loginbtn{
    text-decoration: none;
    font-size: 34px;
    font-family: 'Material Symbols Rounded';
    font-weight: 900;
    position: relative;
    bottom: 0px;
    color:white;

}

.loginbtn:hover{
    color: #31ed31;  
}
.logbtn{
    margin-top: 10px;
}




.succespopup{
    
    font-family: 'Braah One', sans-serif;
    color: white;
    padding: 0 2%;
    
    max-width: 70%;
    box-shadow: inset 0em 3em 8em #ffffff6e;
    text-shadow: 2px 5px 2px black;
    
    border-radius: 6%;
}
.succespopup:hover{
    box-shadow: 0em 3em 10em 5px #050505eb;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
 
.sucmsg{
    
    padding: 1px 9px 21px;
    position: relative;
    top: -29px;
    font-family: 'raleway';
    line-height: 34px;
    font-weight: 400;
}

.sucmsg span {
  font-weight: 700;
  font-family: 'Play', sans-serif;
  text-transform: capitalize;
}

.popupcontainer{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}



/* styling of the alertmsg for the login page  */

.alertmsg{
  display: none;
  font-family: 'Raleway';
  font-weight: 600;
  text-shadow: 1px 2px 2px rgb(0 0 0);
    line-height: 34px;
    color: red;
}
.stddetails{
  font-weight: 400!important;
  font-family: 'Source Sans Pro', sans-serif;
}
.stdhead{
  font-weight: 700!important;
  font-family: 'Source Sans Pro', sans-serif;
}
.popenroll{
  margin-top: -5%;
}



/* mediaquery for small devices  */

@media (max-width:400px) {
    
    .doblbl{
        font-size: smaller; 
    }
    
    .form-floating>label {

        left:31%
      }

      .sucmsg{
        font-size: 1.1rem;
        line-height: 25px;
      }

}

/* background image  */

body{
  background-image: url("../images/cdcbck.jpg");
  /* min-height: 100vh;
    background-size: cover; */
    backdrop-filter: brightness(0.7) blur(3px);
    min-height: 100vh;
    background-size: 110%;
    background-position-x: 78%;


}

.copyright{
  color: rgb(238, 236, 236)!important;
}

/* styling of dashboard */
.stddet{
  font-size: 2.1rem;
}
.qrdesc{
  margin-top: 7px;
  margin-bottom: -5px;
}