 <!-- navbar starts  -->



 <div class="container-fluid nav_head">

    <div class="row">
 
     <!-- we are making col to align content having a col space from left and right  -->
     <div class="col-md-10 col-12 mx-auto">
 
          <!-- navbar from bootstrap that is responsive to the viewport -->
       <nav class="navbar navbar-expand-lg ">
 
         <a class="navbar-brand" href="/" style=" font-family: 'Raleway';"><div class="botcircle"><img src="images/MAIT_LOGO_.png" alt="logo" class="logoimg"></div> </a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon nav-brick"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNav">
           <!-- ms-auto class for margin of listing to the right  -->
           <ul class="navbar-nav ms-auto">
             <!-- <li class="nav-item">
               <a class="nav-link " aria-current="page" href="#">Home</a>
             </li> -->
             <li class="nav-item">
               <a class="nav-link active" href="/">Register</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="/login">Login</a>
             </li>
             
           </ul>
         </div>
 
       </nav>
 
 
     </div>
 
 
    </div>
 </div>
 
 <!-- navbar ends  -->